{% extends "base.html" %}

{% block content %}
<div class="grid-container">
    <form id="survey-form" action="" method="post">
        <div class="title-description">
            <h1 id="title">Survey Form</h1>
            <p id="description">This is the description of the survey</p>
        </div>
        {{ form.csrf_token }}

        <p id="flash-message">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </p>

        {% for input in form %}
            <p>{{ input.label }} {{ input }}</p>
        {% endfor %}

        {{ form.submit() }}
    </form>
</div>
{% endblock %}