{% extends "base.html" %}

{% block content %}
<div class="grid-container">
    <form id="survey-form" action="" method="post">
        <div class="title-description">
            <h1 id="title">Diseases Prediction</h1>
            <p id="description"></p>
        </div>
        {{ form.csrf_token }}

        <!-- Results output here -->
        <p id="flash-message">
        
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </p>
        <!-- Results output end-->


        {% for input in form %}
            <p>{{ input.label }} {{ input }}</p> <!-- <InputName> <InputType> -->
        {% endfor %}

        {{ form.submit }}
    </form>
</div>
{% endblock %}